@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
margin: 0;
padding: 0;
}

body{ 
  font-family: Quicksand;
}

@layer utilities{
  .padding-container {
    @apply px-4 lg:px-8
  }
  .btn_green{
    @apply bg-green-10 rounded-md text-white font-[500]
  }
  .container {
    @apply rounded-2xl border border-gray-20 p-4 bg-white
  }
}

